link(rel="shortcut icon" type="image/ico" href="images/icon.ico")
link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap")