<!DOCTYPE html>
html(lang="en")
  head
    include includes/meta
    title UI / UX Design
    include includes/styles

    // inject:css
    // endinject
  body
    include layout/global
    .articles#articles
      h2.main-title(data-aos="flip-up" data-aos-duration="1000" data-aos-easing="linear" data-aos-once="false") UI / UX Design From
      .container
        .box(data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          img(src="./images/m.jpg" alt="Kajocode")
          .content-box
            h3 Kajocode
            p Welcome to the best Arabic course in designing applications, websites and user experience After completing the course and training on your own, you will be able to design and you may get a respectable job in design or it may provide you with an opportunity to make your own designs and sell them on websites or work independently
          .info-box
            a(href="https://www.youtube.com/watch?v=DQZ3LWlZ8_w&list=PLiwfne4PXRuFoKOlhGoZccpq79vN1UH0e" alt="Kajocode" target="_blank") Read More
            i.fas.fa-long-arrow-alt-right
        .box(data-aos="flip-right" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          img(src="./images/n.jpg" alt="mostafa makram TV")
          .content-box
            h3 mostafa makram TV
            p Media Datashow Welcome all . These specialized channel in the world of graphics and their own lessons and work full courses for different programs in various types of disciplines, whether 2D - 3D - VFX - motion Graphics - Art - Media Datashow specialized channel in the world of graphics and their own lessons and work full courses for different
          .info-box
            a(href="https://www.youtube.com/c/mostafamakram/playlists" alt="mostafa makram TV" target="_blank") Read More
            i.fas.fa-long-arrow-alt-right
        .box(data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          img(src="./images/o.jpg" alt="Coursera")
          .content-box
            h3 UI / UX Design Coursera
            p The UI/UX Design Specialization brings a design-centric approach to user interface and user experience design, and offers practical, skill-based instruction centered around a visual communications perspective, rather than on one focused on marketing In this sequence of four courses demonstrate all stages of the UI/UX development
          .info-box
            a(href="https://www.coursera.org/specializations/ui-ux-design" alt="Coursera" target="_blank") Read More
            i.fas.fa-long-arrow-alt-right
    .haram
    include layout/footer
    script(src="./layout/js/global.min.js")
