// Start Footer 
.footer
  .container
    .grid
      .con
        h2 Sitemap
        ul.sitemap(data-aos="zoom-in-down" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          li: a Home
          li: a Work Steps
          li: a Services
          li: a Information
          li: a Contact Us
          li: a Courses
        ul.social(data-aos="zoom-in-up" data-aos-offset="100" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          li: a(href="https://www.facebook.com/Taha.Viras" target="_blank"): i.fa-brands.fa-facebook
          li: a(href="https://www.instagram.com/tahaabdlmonim/" target="_blank"): i.fa-brands.fa-instagram
          li: a(href="https://twitter.com/TahaAbdelmonim" target="_blank"): i.fa-brands.fa-twitter-square
          li: a(href="https://github.com/Taha-Abdelmonim?tab=repositories" target="_blank"): i.fa-brands.fa-github
          li: a(href="#"): i.fa-brands.fa-youtube
          li: a(href="#"): i.fa-brands.fa-google-plus-g
          li: a(href="#"): i.fa-brands.fa-pinterest
          li: a(href="#"): i.fa-solid.fa-envelope
      .con
        h2 Latest Articles
        div(data-aos="zoom-in-up" data-aos-delay="500" data-aos-offset="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          i.fa-solid.fa-laptop-code.fa-3x
          .text
            h4 Programming
            p This Is Some Text About Programming Describe The Media Of Bootstrap 3.2.0
        div(data-aos="flip-down" data-aos-offset="100" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          i.fa-solid.fa-code.fa-3x
          .text
            h4 Coding
            p This Is Some Text About Programming Describe The Media Of Bootstrap 3.2.0
        div(data-aos="zoom-in-down" data-aos-offset="10" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          i.fa-solid.fa-layer-group.fa-3x
          .text
            h4 Web Design
            p This Is Some Text About Programming Describe The Media Of Bootstrap 3.2.0
      .con

        h2 Our Awesome Work
        ul(data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false")
          li: img(src="./images/programming1.png")
          li: img(src="./images/programming2.png")
          li: img(src="./images/programming3.jpg")
          li: img(src="./images/programming4.jpg")
          li: img(src="./images/programming5.jpg")
          li: img(src="./images/programming6.jpg")
// end Footer 
div.parent: p.copyright(data-aos="fade-left" data-aos-offset="-100" data-aos-delay="500" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-once="false") &copy Copyright 2022 <span>Taha_Abdelmoneim</span>. All Rights Reserved</p>
// End Footer 
script(src="https://unpkg.com/aos@next/dist/aos.js")